body {
    font-family: 'Comfortaa', sans-serif;
    background: #111;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font: 60px 'Cinzel Decorative', serif;
    margin: 20px 0;
  }
  
  h3 {
    font: 24px 'Cinzel', serif;
    margin-bottom: 40px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .character-card {
    background: #333;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: left;
  }
  
  .character-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .character-card .card-content {
    padding: 20px;
  }
  
  .character-card h2 {
    font-size: 22px;
    margin: 0 0 10px;
    color: #FFD700;
  }
  
  .character-card p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .character-card .house {
    font-weight: bold;
    color: #FFD700;
  }
  